<%- layout("layouts/boilerplate") -%>
<body>
    <div class="row " >
        <div class="col-8 offset-2">
            <br>
            <h3>EDIT YOUR LISTING</h3>
            <form action="/listing/<%= item._id %>?_method=put" method="post" novalidate class="needs-validation">
        
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input name="title" type="text" value="<%= item.title %>" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea required name="description" placeholder="enter description..." class="form-control"><%= item.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="image" class="from-label">Image</label>
                    <input  required type="text"  name="image" value="<%= item.image %>" class="form-control">
                </div>
                <div class="row" >
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input required  type="text" value="<%= item.price %>" name="price" class="form-control">
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label" >Country</label>
                        <input required type="text" value="<%= item.country %>" name="country" class="form-control">
                    </div>
                </div>

                
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input   required type="text" value="<%= item.location %>" name="location" class="form-control">
                </div>
                
                <br>
                <button class="btn btn-dark Edit-btn">EDIT</button>
                <br><br>
            </form>
        </div>
    </div>
    <script src="/js/script.js"></script>
    

</body>
</html>




