<%- layout("layouts/boilerplate") -%>
   
    
  <style>
    #fillter{
        display: flex;
        align-items: center;

    }
    .fillter{
        text-align: center;
        margin-left: 2rem;
        margin-top: 1rem;
        opacity: 0.7;

    }
    .fillter:hover{
        opacity: 1;
    }
    .fillter-switch{
        display: flex;
        align-items: center;
        justify-content: space-between;
       
       margin-left: 3rem;
        

    }
    .GST{
        display: none;
    }
    .fillter-switch{
        border: 1px solid black;
        height: 2.5rem;
        border-radius: 1rem;
        padding: 1rem !important;
        
       
        width: 13rem;
        
    }
  </style>
    
    <!-- <form method="get" action="/listing/new">
        <button>CREATE</button>
    </form> -->
    
    <div id="fillter">
        <div class="fillter">
            <i class="fa-solid fa-fire"></i>
            <p>Fire</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-hashtag"></i>
            <p>Trending</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-money-bill"></i>
            <p>Budget Friendly</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain View</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-tree"></i>
            <p>Beach Nearby</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-water"></i>
            <p>Pool</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-crown"></i>
            <p>Luxury</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-mountain"></i>
            <p>Mountain View</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-tree"></i>
            <p>Beach Nearby</p>
        </div>
        <div class="fillter">
            <i class="fa-solid fa-water"></i>
            <p>Pool</p>
        </div>
        <div class="form-check-reverse form-switch  fillter-switch ">
            <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
            <label class="form-check-label" for="switchCheckDefault">Check total GST</label>
        </div>
        
    </div>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-4">
        
        
        <% for(let listing of alllistings){ %>
            <a class="A" href="/listing/<%= listing._id %>">
            
                <div class="card cols listing1-card offset-1" style="width: 25rem;">
                    
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="image" style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text"> <b> <%= listing.title %> </b></p>
                            <p class="price">&#8377 <%= listing.price.toLocaleString("en-In")%> &nbsp;<span class="GST"> +15% GST</span></p>
                           
                        
                        </div>
                
                </div>
            </a>
            
        <% } %> 
    </div>



<script>
    let mode = document.getElementById("switchCheckDefault");
    mode.addEventListener('click',()=>{
        let logic = document.getElementsByClassName("GST");
        for(info of logic){
            if(info.style.display != "inline"){
                info.style.display = "inline";
            }else{
                info.style.display = "none";
            }
            
        }
    })
</script>
    
    
    
