<%- layout("layouts/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-3">
        <br><br>
        <h4><b><%= item.title %></b></h4>
    </div>

    <div class="card col-6 offset-3 listing1-card" >
        <img src="<%= item.image.url %>" 
            class="card-img-top show-img" 
            alt="listing_img"
        />

        <div class="card-body">
            <p class="card-text"> 
               <i>Owner: <%= item.owner.username %></i>
            </p>
                
            <p class="card-text">  
                <%= item.description %>
            </p>
            <p class="card-text">
                
                &#8377 <%= item.price.toLocaleString("en-In") %>
            </p>
                
            <p class="card-text">
                <%= item.location %>
            </p>
                
            <p class="card-text">
                <%= item.country %>
            </p>

        
        </div>
    </div>

    <% if(Current && item.owner._id.equals(Current._id)){ %>
            
    <div class="btns">
        <form class="col-1 offset-3 " method="get" action="/listing/<%= item._id %>/edit">
            <button class="btn btn-dark Edit-btn"  >edit</button>
        </form>
        
        <form  method="POST" action="/listing/<%= item._id %>?_method=DELETE">
            <button class="btn btn-dark ">DELETE</button>
        </form>
    </div>
    <% } %>

    <div class="col-8 offset-3 mb-3 mt-2" >
        <% if(Current){ %>
        <hr>
        <h4>Leave a review</h4>
        <form action="/listing/<%= item._id %>/review" method="post" novalidate class="needs-validation">
            <div >
                <label for="review[rating]" class="form-label">Rating</label>
                <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
             </div>
            <div>
                <label for="review[comment]" class="form-label">Comment</label>
                <textarea name="review[comment]" id="comment" rows="5" cols="20" class="form-control" required ></textarea>
                <div class="invalid-feedback">You Mush Add Comment </div>
            </div>
            
            <button class="btn btn-outline-dark mt-2">Submit</button>
        </form>

        <hr>
        <% } %>
        
        <h4>All Reviews is here</h4>
        <div class="row">
            <% for(review of item.reviews){ %>
                <div class="col-md-6 mb-3">
                    <div class="card h-100 mt-3">
                        <img class="img" src="https://imgcdn.stablediffusionweb.com/2024/11/26/ce6f3141-5a1f-45e2-b6c9-afc10a1f7f0c.jpg" alt="photo">
                        <div class="card-body ">
                            <h5 class="card-title"><%= review.author.username %></h5>
                                
                            <p class="card-text">
                                <b><i><%= review.comment %></i></b>
                            </p>

                            <p class="card-text">
                                <b><i><%= review.rating %></i></b>

                                <% for(let i = 1; i <= review.rating; i++){ %>
                                    <span>⭐</span>
                                <% } %>
                            </p>
                            <% if(Current && Current._id.equals(review.author._id)) {%>
                            <form  method="post" action="/listing/<%= item._id %>/review/<%= review._id %>?_method=DELETE">
                                <button class="btn btn-dark btn-sm">🗑️ Delete</button>
                            </form>
                            <% } %>
                        </div>
                    </div>
                    <!-- <form action="">
                        <button class="btn btn-primery">Delete</button>
                    </form> -->
                </div>
            <% } %>
        </div>
                        

            
            
    

    </div>

    

</div>













 