<%- layout("layouts/boilerplate") -%>

<div class="row">
    <div class="col-8 offset-3">
        <br><br>
        <h4><b><%= item.title %></b></h4>
    </div>

    <div class="card col-6 offset-3">
        <img src="<%= item.image.url %>" 
            class="card-img-top show-img" 
            alt="listing_img"
        />

        <div class="card-body">
            <p class="card-text"> 
                
                
                <%= item.description %>
                <br>
                &#8377 <%= item.price.toLocaleString("en-In") %>
                <br>
                <%= item.location %>
                <br>
                <%= item.country %>

            </p>
        </div>
    </div>
            
    <div class="btns">
        <form class="col-1 offset-3 " method="get" action="/listing/<%= item._id %>/edit">
            <button class="btn btn-dark Edit-btn"  >edit</button>
        </form>
        
        <form  method="POST" action="/listing/<%= item._id %>?_method=DELETE">
            <button class="btn btn-dark ">DELETE</button>
        </form>
    </div>

</div>

<div class="col-8 offset-3 mb-3 mt-2" >
    <hr>
    <h4>Leave a review</h4>
    <form action="/listing/<%= item._id %>/review" method="post">
        <div class="">
        <label for="review[rating]" class="form-label">Rating</label>
        <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
    </div>
    <div>
        <label for="review[comment]" class="form-label">Comment</label>
        <textarea name="review[comment]" id="comment" rows="5" cols="20" class="form-control"></textarea>
    </div>
    <button class="btn btn-outline-dark mt-2">Submit</button>
    </form>
</div>
    
